<!DOCTYPE html>
<html>
    <head>
        <title>Userd Cars</title>
        <link rel="stylesheet" type="text/css" href="/static/mystyle.css">

    </head>
    <body class="body-style">
        <div>
            <div class="heading">
                <img class="fixed-logo" src="/static/img/Skidding_car_lo.png">
                <div class="heading-data"><img style="width: 170px;" src="/static/img/images.jpg"></div>
            </div>
            <div class="container-login100">
                <h1>Based on the Criteria provided, Price of a car is Rs. {{price}}</h1>
            </div>
        </div>
    </body>
</html>