<!DOCTYPE html>
<html>
    <head>
        <title>Userd Cars</title>
        <link rel="stylesheet" type="text/css" href="/static/mystyle.css">

    </head>
    <body >
       <div>
        <div class="heading">
            <img class="fixed-logo" src="/static/img/Skidding_car_lo.png">
			<div class="heading-data"><img style="width: 170px;" src="/static/img/images.jpg"></div>
		</div>
        <div class="container-login100">
            <div>
                <h1>Welcome to Capstome G2 - Price of Used Cars..</h1>
            </div>
            <br>
            <div>
                <form action="/buycar" method = "post">
                    <input class="login100-form-btn" type="submit" value="CLICK ME to buy a car!!"> 
                </form>
            </div>
        </div>
       </div>
        
    </body>
</html>